<style>


	body {
		margin-bottom:50px;
	}

	.footer {
		background: white;
		z-index: 100;
		position: fixed;
		bottom: 0;
		width:100%;
		height:40px;
	}

</style>
<div class="common-menu col-lg-12" style="background-image: url('/assets/polls-header.jpg');" data-timeout="60">
	<nav>
		<ul class="nav navbar-nav">
			<li><a href="/#/menu"><i class="fa fa-home"></i> Menu</a></li>
			<li><a href="/#/polls"><i class="fa fa-arrow-left"></i> Back to current poll</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right navbar-feedback">
			<li class="pull-right"><a href="/"><img class="feedback-logo" src="/assets/btnLogo.jpg"/>Give us feedback</a></li>
		</ul>
	</nav>
</div>