body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a, a:visited, a:active {
    color: #000;
    text-decoration: none;
}

.hack-wrap {
    width: 90%;
    margin: 0 auto;
}

/* Common Navbar Bottom Bits */
.common-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #cdcdcd;
    font-size: 2em;
}
.common-menu nav ul li {
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 3px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 10px;
}
.common-menu img.feedback-logo {
    width: 10%;
    display: inline-block;
    margin-right: 5px;
}
.common-menu nav ul li a {
  color: #555555;
}
.common-menu nav ul li a:hover {
  border-radius: 5px;
}
.common-menu {
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar-feedback {
    margin-right: 15px;
}
