@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('/assets/fonts/agaramondpro-regular-webfont.eot');
    src: url('/assets/fonts/agaramondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/agaramondpro-regular-webfont.woff') format('woff'),
         url('/assets/fonts/agaramondpro-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/agaramondpro-regular-webfont.svg#adobe_garamond_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
