<link rel="stylesheet" href="/components/metro-bootstrap/dist/css/metro-bootstrap.min.css">
<link rel="stylesheet" href="/css/polls.css">
<div class="header-bar col-lg-12">
  <div class="hack-wrap">
    <div class="logo col-lg-2">
      <img class="img-responsive" src="/assets/logo.jpg" />
    </div>
  </div>
</div>


<div class="hack-wrap">
    <div class="poll" ng-repeat="poll in polls">
      <div class="col-lg-12">
        <div class="quote-box">
            <a href="/#/polls/vote/{{poll.id}}" class="poll-goto">View</a>
          <p class="col-lg-offset-1">{{ poll.name }}</p>
        </div>
      </div>
    </div>

  <div class="information col-lg-10 col-lg-offset-1">
    <p>Some stuff at the bottom explains what this all about. I guess that Opportunity Peterborough will supply data something here about data and voting and so forth</p>
  </div>
</div>

<div class="common-menu col-lg-12" style="background-image: url('/assets/polls-header.jpg');" data-timeout="60">
<nav>
  <ul class="nav navbar-nav">
    <li><a href="/#/menu"><i class="fa fa-home"></i> Menu</a></li>
    <li><a href="/#/polls"><i class="fa fa-arrow-left"></i> Back to current poll</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right navbar-feedback">
      <li class="pull-right"><a href="/"><img class="feedback-logo" src="/assets/btnLogo.jpg"/>Give us feedback</a></li>
  </ul>
</nav>

<!-- <div class="common-menu">
    <nav>
        <ul class="nav navbar-nav">
            <li><a href="/#/menu">Home</a></li>
            <!-- this is where other Breadcrumb-style nav buttons go
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-feedback">
            <li class="pull-right"><a href="/">Give us feedback</a></li>
        </ul>
    </nav>
</div>-->
